*{
    font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar {
  width: 100%;
  max-width: 600px;
  padding: 30px 20px;
}
.calendar .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.calendar .header .month {
  display: flex;
  align-items: center;
  font-size: 25px;
  color: white
}
.calendar .header .btns {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}
.calendar .header .btns .btn {
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.1s;
}
.calendar .header .btns .btn:hover {
  transform: scale(1.05);
}
.calendar .weekdays {
  display: flex;
  gap: 10px;
  color: #6E17AF;
}
.calendar .weekdays .day {
  width: calc(100% / 7 - 10px);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.calendar .days {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.calendar .days .day {
  width: calc(100% / 7 - 10px);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  transition: all 0.3s;
  user-select: none;
}
.calendar .days .day:not(.next):not(.prev):hover {
  background: #6E17AF;
}
.calendar .days .day.next,
.calendar .days .day.prev {
  color: #D4D4D4;
}
.calendar .days .day.today {
  color: #fff;
}
