* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    overflow-x: hidden;
}

header {
    padding: 24px;
    width: 100vw;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

i {
    color: #FF914D;
    font-size: 35px;
}

.barra-pesquisa {
    width: 50vw;
    height: 5vh;
    position: relative;
}

.search-container {
    width: 100%;
    height: 100%;
    position: relative;
}

input {
    width: 100%;
    height: 100%;
    border-radius: 32px;
    border: 3px solid #FF914D;
    padding: 12px 12px 12px 50px; 
}

input::placeholder{
    color: #FF914D;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: #FF914D;
    font-size: 16px;
}

i{
    cursor: pointer;
}

.infos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}

h3 {
    color: #FF914D;
    font-weight: normal;
}

h2 {
    color: #FF914D;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
}

.cards .card {
    width: 18rem;
    max-height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}

.cards .card:hover{
    scale: 1.1;
    transition: 0.3s;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 200px;
}

.produtos {
    padding: 40px 0;
}

main {
    width: 100vw;
    padding: 0 90px;
    display: flex;
    flex-direction: column;
}

.options{
    padding: 20px 0;
}

.card-title{
    color: #6E17AF;
    font-weight: 700;
}

input:focus {
    outline: none;
}

footer{
    height: 10vh;
}

.modal-body{
    height: 60vh !important;
}

.compra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #D9D9D9;
}

.img-compra{
    display: grid;
    place-items: center;
    background-color: transparent;
    border: 2px solid #D9D9D9;
    height: 100%;
    width: 50%;
}

.img-compra img{
    width: 80%;
}
