header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 32px;
    color: #FF914D;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.titulo{
    width: 12%;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

i{
    font-size: 30px;
}