*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


header{
    padding: 24px;
    width: 100vw;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

h1 {
    color: #FF914D;
}

.infos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    color: #FF914D;
}

i{
    font-size: 35px;
}

.containers{
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.container{
    width: 385px;
    height: 100%;
    background-color: #6E17AF;
    border-radius: 32px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer{
    width: 100vw;
    height: 15vh;
    display: grid;
    place-items: center;

}

.table{
    width: 80%;
    height: 50%;
}

button{
    color: #FF914D;
    background-color: transparent;
    border: 4px solid #FF914D;
    border-radius: 32px;
    width: 280px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

button:hover{
    background-color: #FF914D;
    color: white;
    transition: 0.3s;
}

.servicos h1 {
    font-size: 70px;
}