*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
    
}

body {
    background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(./img/image\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

header{
    width: 100vw;
    height: 20vh;
}

main{
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.logo{
    width: 50vw;
}

.logo img{
    padding: 30px;
}

.home{
    width: 45vw;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: end;
    font-weight: normal
}

.home h2{
    font-weight: 400;
    cursor: pointer;
}

.container h1{
    font-size: 48px;
}

.container h3{
    font-weight: 400;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 120px;
}

.slogan{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.opcoes{
    display: flex;
    gap: 20px;
}

button{
    background-color: transparent;
    border: 4px solid #FF914D;
    border-radius: 32px;
    width: 280px;
    height: 70px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}

button:hover{
    background-color: #FF914D;
    transition: 0.3s;
}
